<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registered -- Work Suggest Application</title>

    <!--<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>&ndash;&gt;&ndash;&gt;-->
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/css/worksuggest_main.css}"/>-->

    <div th:replace="fragments/header.html :: header-css"/>

</head>

<body>
<div th:insert="fragments/header.html :: header" >...</div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Registration Completed</h1>
        <h2>Thank you for your registration! <a style="color:orange;" href="./login">Login!</a></h2>
    </div>

    <a  th:href="@{ ${baseURL} + '/about'}"><span class="mainLinks">About</span></a> |
    <a href="./login"><span class="mainLinks">Login</span></a> |
    <span class="mainLinks" style="float: right">Administrators Login</span>

</main>
<!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>
