<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Work Suggest Application</title>

    <!--<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>&ndash;&gt;&ndash;&gt;-->
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/css/worksuggest_main.css}"/>-->

    <div th:replace="fragments/header.html :: header-css"/>

</head>
<body>

<div th:insert="fragments/header.html :: header" >...</div>

<main role="main" class="container">
    <div th:insert="fragments/general.html :: userDetailBar" >This was user bar</div>
    <div class="starter-template">

        <div id="form_container">
            <h1><a>Suggest Work:</a></h1>
            <h5>Please fill the following form and submit for review.</h5>
            <form id="form_99788" class="appnitro"  method="post" action="#" th:action="@{'./'}" th:object="${worksuggest}">
                <input type="hidden" name="person_id" th:value="${person_id}">
                <ol >
                    <!--                    <li>-->
                    <!--                        <input type="text" th:field="*{id}" readonly="readonly"/>-->
                    <!--                    </li>-->
                    <li id="li_1" >
                        <label class="description" for="element_1">Title</label>
                        <div>
                            <input th:field="${worksuggest.title}" id="element_1" name="title" class="element text medium" type="text" maxlength="255" value=""/>
                            <div th:if="${#fields.hasErrors('title')}" th:errors="${worksuggest.title}"
                                 style="color: lightgoldenrodyellow; border: 1px solid black; background-color: darkred;padding: 10px;">
                                Task Title Error</div>
                        </div>
                    </li>
                    <li id="li_1" >
                        <label class="description" for="element_1">Description</label>
                        <div>
                            <textarea rows="5" cols="15" th:field="${worksuggest.description}" id="element_1" name="description" class="element text medium"></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="${worksuggest.description}"
                                 style="color: lightgoldenrodyellow; border: 1px solid black; background-color: darkred;padding: 10px;">
                                Description Error</div>
                        </div>
                    </li>

                    <li class="buttons">
                        <input type="hidden" name="form_id" value="99788" />

                        <input id="saveForm" class="button_text" type="submit" name="submit" value="Suggest Work and Request Review" />
                    </li>
                </ol>
            </form>
        </div>

    </div>
</main>

</body>
</html>